<ion-item *ngIf="message" [routerLink]="'/message/' + message.id" [detail]="false">
  
  <ion-label class="ion-text-wrap">
    <div>
      <ion-img [src]= "message.imageUrl"></ion-img>
    </div>
    <div>
      <h3>{{ message.fromName }}</h3> 
      <h2>{{ message.subject }}</h2>
      <div class="price">
        <h2>{{ message.price }}</h2> 
        <h3>{{ message.place }}</h3>
      </div>
    </div>
    <div class="left-side">
      <ion-icon name="heart-outline"></ion-icon><br>
      <ion-note>{{ message.date }}</ion-note>
    </div>
  </ion-label>
  </ion-item>