<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="title">
      <ion-title>
        UI/UX Design
      </ion-title>
      <ion-icon name="filter-circle"></ion-icon>
    </div>
    <p>50 Jobs Opportunity</p>
    <div class="top-btn">
      <ion-button >Most Relevant</ion-button>
      <ion-button >Most recent</ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content>